<!DOCTYPE html>
<html lang="en">
  <body>
    <h1>Login</h1>
    <label>Login: </label>
    <input type="text" id="loginName" required></input>
    <label>Password: </label>
    <input type="text" id="loginPassword" required></input>
    <br>
    <input type="submit" id="loginButton" value="Login">
    <br>
    
    <label>Don't have an account? <a href="/register">Register Here.</a></label></div>
  </body>
</html>
