<!DOCTYPE html>
<html lang="en">
  <body>
    <h1>Register</h1>
    <form class="form"><label>Username: </label>
    <input type="text" name="username" required></input>
    <label>Password: </label>
    <input type="text" name="password" required></input>
    <br>
    <input type="submit" id="registerButton" value="Register"></form>
    <br>
    
    <label>Already have an account? <a href="/">Login Here.</a></label>
    <script src="../client.js"></script>
  </body>
</html>
