<!DOCTYPE html>
<html lang="en">
  <body>
    <h1>Register</h1>
    <label>Username: </label>
    <input type="text" name="username" required></input>
    <label>Password: </label>
    <input type="text" name="password" required></input>
    <br>
    <input type="submit" id="registerButton" value="Login">
    <br>
    
    <label>Already have an account? <a href="/">Login Here.</a></label></div>
  </body>
</html>
